<% if @user.errors.any? %>
  <%= @user.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
<% end %>

<h2>プロフィール編集</h2>
<%= form_for(@user, url: user_path(current_user.id)) do |f| %>
  <label for="inputName">Name</label><br>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%><br>
  <label for="inputImage">ProfileImage</label><br>
  <%= f.file_field :profile_image, placeholder: "image", accept: "image/*" %> <br>
  <label for="inputIntroduction">Introduction</label><br>
  <%= f.text_area :introduction, autofocus: true,　placeholder:"自己紹介"%><br>
  <%= f.submit "Update User" %><br>
<% end %>