

<div class="box">
<div class="container">
<div class="row">

 <div class= "col-xs-3">
   
   <%= render 'book', user: @user, book: @usernew %>


  <div class= "col-xs-9">
    <h2>Book detail</h2>
    <table class='table' >
      
    <tr>
    <td>
      
      <%= link_to books_path(@book.user_id) do %>
      <nav><%= image_tag @user.get_profile_image(100,100) %></nav>
      <% end %>
      
      <%= link_to books_path(@book.user_id) do %>
      <nav><%= @user.name %></nav>
       <% end %>
       
    </td>
    <td><%= link_to @book.title %></td>
    <td><%= @book.body %></td>
    <td><% if @book.user_id == current_user.id %>
        <%= link_to "Edit", edit_book_path(@book.id) %>
        <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？"  %>
        <% end %>
        </td>

    </tr>
  </table>
  </div>
</div>
</div>
</div>







